#about {
    #particles-about {
        top: 50%;
        height: 50%;
    }

    .about-description {
        padding: 2em 2em 2em 2em;
    }

    #fun-facts ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        line-height: 2em;
    }
}