#contact {
    color: white;
    // background: rgb(25,25,25);
    background: $font-color;
    
    #contact-form {
        position: relative;
        border-radius: $border-radius;
        width: 35%;
        height: 50vh;
        input, textarea {
            background: rgb(31, 31, 31);
            height: 50px;
        }

        textarea {
            height: 150px;
        }
    }

    .form-control {
        color: white;

        &:focus {
            border-color: white;
        @include transition('box-shadow .35s ease-out');
        box-shadow: inset 0 0 0 99999px $slate-blue-dark;
        color: white;
        }
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
      }
}

.particles-js-canvas-el{
    position: absolute;
    top: 0;
    left: 0;

}


