#hero {
    background-image: $star-bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        position: relative;
        z-index: 99999;
        color: $slate-blue;
        font-weight: 900;
        font-size: 1em !important;
    }

    #hero-text {
        h1 {
            font-size: 5rem !important;
        }
        i {
            font-size: 250%;
        }
        height: 100vh;
    }

    #horoscope {
        display: none; 
    }

    #scroll-down {
        position: absolute;
        bottom: 3.5em;
    }

    #starfield, #sagittarius {
        width: 100%;
    }

    #starfield {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 500;
        // background: #111;
    }

    #sagittarius {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 500;
        // background:violet;
    }
}