@import 'variables';
@import 'mixins';

#project-modal {
    #modalProjectSubHeading {
        font-weight: 400;
        color: $secondary-font-color;
    }
    i {
        font-size: 2rem;
    }
    a {
        color: $slate-blue;

        &:hover {
            color: $slate-blue-dark;
        }
    }
    h3 {
        display:block;
    }
}

.modal-backdrop {
    opacity: .9 !important;
}