// parent container for the entire parallax page 
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    scroll-behavior: smooth;
}

// parallax sections
.parallax_group {
    position: relative;
    min-height: 100vh;
    transform-style: preserve-3d;
}

.parallax_layer_front,
.parallax_layer_back {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.parallax_layer_front {
    transform: translateZ(0);
}

.parallax_layer_back {
    //scale factor = 1 + (translateZ * -1) / perspective
    transform: translateZ(-2px) scale(3);
}