@import 'variables';
@import 'mixins';

// parent container for the entire parallax page 
.parallax {
    height: 100%;
    overflow-x: hidden;
    // overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    scroll-behavior: smooth;
}

// parallax sections
.parallax_group {
    position: relative;
    transform-style: preserve-3d;
}

.parallax_layer_front,
.parallax_layer_back {
    position: relative;
    // top: 110%; // temporary fix: to push layers down so they dont cover the 
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.parallax_layer_front {
    transform: translateZ(0px);
}

.parallax_layer_back {
    position: absolute;
    transform: translateZ(-1px) scale(2); //scale factor = 1 + (translateZ * -1) / perspective
    // transform: translateZ(-1px); 
}