@import 'variables';
@import 'mixins';

#skills {
    #circle-img {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        overflow: hidden;

        #profile-pic {
            width: 100%;
            height: auto;
        }
    }

    @media only screen and (min-width:1440px) {
        #circle-img {
            width: 17.5rem;
            height: 17.5rem;
        }
    }

    .progress {
        font-size: 100%;
        font-weight: bold;

        .progress-bar {
            background-color: $slate-blue;
        }
    }

    .nav-pills {
        .nav-link.active {
            background-color: $slate-blue;
        }
    }
}
