#skills {
    // background: rgb(25,25,25);
    .slide-in {
        position: relative;   
        opacity: 0;
    }
    // .slide-to-right{
    //     transform: translateX(-100vw);
    // }
    // .slide-to-left{
    //     transform: translateX(100vw);
    // } 

    .img-round {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .progress {
        font-size: 100%;
        font-weight: bold;

        .progress-bar {
            background-color: $slate-blue;
        }
    }

    .nav-pills {
        .nav-link.active {
            background-color: $slate-blue;
        }
    }
}
