@import url("https://fonts.googleapis.com/css?family=Poppins");
$font-family: "Poppins",
serif;

// font color 
$font-color: rgb(33,37,41);

// background colors 
$main-bg: whitesmoke;
$star-bg: linear-gradient(to top, rgb(27, 11, 61), rgb(15, 18, 66), rgb(5, 5, 34), rgb(1, 1, 8));

// theme colors 
$slate-blue: rgb(95, 95, 194);