html {
    scroll-behavior: smooth;
}

body {
    background: rgb(247, 247, 247);
    width: 100%;
    height: 100%;
    font-family: 'Alfa Slab One';
}

.center {
    text-align: center;
}

.navbar {
    background: rgba(0, 0, 0, 0.4);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}

.navbar-brand img {
    width: 5em;
}

#hero {
    height: 100vh;
    width: 100%;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: 10vw 50%;
    filter: contrast(150%);
}

.tint {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

#main_content {
    z-index: 999;
    width: 50%;
    position: relative;
    text-align: center;
}

#main_content h1 {
    color: white;
    font-size: 10em;
    font-style: italic;
    letter-spacing: .1em;
    display: inline;
}


@media only screen and (min-width:1025px) {
    #main_content {
        left: 4%;
        top: 15%;
        position: relative;
    }
}

@media only screen and (max-width:1024px) {
    #main_content h1 {
        font-size: 4.5em;
    }

    #hero {
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tint {

        background: rgba(0, 0, 0, 0.4);
    }
}

#drop, #brands {
    background: rgba(150, 44, 15, 0.144);
}

.card {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.circle_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 70vmin;
    height: 70vmin;
    border-radius: 50%;
    background: #EFE0DC;
    margin: auto;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:1024px) {
    .circle_image_container {
        width: 40vmin;
        height: 40vmin;
    }
}

@media only screen and (max-width:768px) {
    .circle_image_container {
        width: 90vmin;
        height: 90vmin;
    }
}

.carousel {
    height: 90%;
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

.caption {
    position: relative;
    top: 8%;
}

.carousel-indicators {
    margin-bottom: 25%;
}

.carousel-indicators li {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.black {
    background-color: black !important;
}

.white {
    background-color: white !important;
}

#cap_carousel img {
    width: 80%;
    height: auto;
}

#tshirt_carousel img {
    width: 50%;
    height: auto;
}

.newsletter-subscribe {
    color: white;
    /* background-color:#fff; */
    padding: 50px 0;
}

.newsletter-subscribe p {
    color: #7d8285;
    line-height: 1.5;
}

.newsletter-subscribe h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}

.newsletter-subscribe .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}

.newsletter-subscribe .intro p {
    margin-bottom: 35px;
}

.newsletter-subscribe form {
    justify-content: center;
}

.newsletter-subscribe form .form-control {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
}

.newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
}

.newsletter-subscribe form .btn:hover {
    opacity: 1;
}

.newsletter-subscribe form .btn:active {
    transform: translateY(1px);
}

.newsletter-subscribe form .btn-primary {
    background-color: #055ada !important;
    color: #fff;
    outline: none !important;
}

.raffle {
    width: 100%;
    height: 200%;
    background: black;
    color:white !important;
}

.mb-0 {
    padding-bottom: 1em;
}

#about {
    position: relative;
    z-index: -999;
    background-image: url("images/sneaker_collection.png");
    background-size: cover;
    background-position: center;
    color: white;
}

#about_tint {
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
}

#about_content {
    position: relative;
    z-index: 999;  
}

/* .btn-orange {
    background-color:#9ECDCD;
} */